body{
    background-attachment: fixed;
    background-image: url(../imagenes/fondo.jpg);
}
nav{
    margin-top: 15px;
}
nav div {
    display: inline-block;
    width: 49%;
    margin: 10px 0 0 0;
}

nav div a{
    margin-left: 9em;
    text-decoration: none;
    padding: 2%;
    background-color: deepskyblue;
    border-radius: 7px;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
}
table, th, td{
    border: 2px solid black;
}
table{
    border-collapse: collapse;
}
th{
    text-align: center;
}
th, td{
    padding: 10px;
}
.rep{
    display: inline-block;
    width: 18%;
    margin: 9px 9px 9px 9px;
}
h1{
    text-align: center;
}
.encimar{
    margin: 15px;
}
.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 22px;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}