body{
    background-attachment: fixed;
    background-size: cover;
}

footer { 
    display: block;
}

#center{
    display: block;
    margin: auto;
}

#centrar{
    display: block;
    margin: auto;
}

footer {
    background-color: #f2f2f2;
    padding: 2px;
    text-align: center;
}

nav div {
    display: inline-block;
    width: 49%;
    margin: 10px 0 0 0;
}

nav div a{
    margin-left: 9em;
    text-decoration: none;
    padding: 2%;
    background-color: deepskyblue;
    border-radius: 7px;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
}
div .prin section{
    display: inline-block;
    width: 49%;
}
div .prin img{
    margin: 2em 0 0 15em;
}
div .prin .sec{
    vertical-align: top;
    margin-top: 4em;
}