        <div class="w3-container w3-black w3-opacity w3-padding-15">
            <h3>Referencias:</h3>
            <ul>
                <li>PHP. (2017). <em> Phpinfo.</em> Recuperado de http://php.net/manual/es/function.phpinfo.php</li>
            </ul>
            <h5>Enlaces de sitios visitados para resolver este laboratorio:</h5>
            <ul>
                <li>https://www.w3schools.com/php/php_arrays.asp</li>
                <li>https://www.w3schools.com/php/func_string_explode.asp</li>
                <li>https://www.w3schools.com/php/func_math_max.asp</li>
                <li>https://www.w3schools.com/php/func_math_log.asp</li>
                <li>https://www.w3schools.com/php/func_math_floor.asp</li>
                <li>https://www.w3schools.com/php/php_echo_print.asp</li>
                <li>https://www.w3schools.com/php/func_array_list.asp</li>
                <li>https://www.w3schools.com/php/showphp.asp?filename=demo_array_multi2</li>
                <li>http://www.ejemplode.com/53-conocimientos_basicos/2555-ejemplo_de_palindromos.html</li>
                <li>http://php.net/manual/es/function.strtolower.php</li>
                <li>http://php.net/manual/es/function.strlen.php</li>
                <li>http://www.bufa.es/eliminar-espacios-blanco-cadena/</li>
            </ul>
            <a href=#return> Return </a>
        </div>
<!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    </body>
  </html>