<h1 class="center">Investigación Lab 14</h1>
<div class="row">
    <div class="col s12">¿Qué es ODBC y para qué es útil?</div>
    <div class="col s11 offset-s1"><i class=" tiny material-icons">fiber_manual_record</i>Es un estándar para acceso a bases de datos desarrollado por SQL Access Group (SAG) en 1992. Lo que busca es que sin importar el gestor de bases de datos (DBMS) se pueda acceder a la información desde cualquier aplicación. Esto resulta muy útil, ya que genera portabilidad y eficientiza el trabajo, ya que no es necesario estar traduciendo de un gestor a otro los comandos.</div>
</div>
<div class="row">
    <div class="col s12">¿Qué es SQL Injection?</div>
    <div class="col s11 offset-s1"><i class=" tiny material-icons">fiber_manual_record</i>Es el tipo de hackeo más común en la web, consiste en la inserción de código malicioso en formularios web, que puede destruir tu base de datos u obtener información personal. </div>
    <div class="col s11 offset-s1"><i class=" tiny material-icons">fiber_manual_record</i>Algunos ejemplos son: </div>
    <div class="col s11 offset-s2"><i class=" tiny material-icons">fiber_manual_record</i>Usar la sentencia OR 1=1 que siempre será true y permitirá el acceso a la información de tu tabla, como, por ejemplo: SELECT UserId, Name, Password FROM Users WHERE UserId = 105 or 1=1.</div>
    <div class="col s11 offset-s2"><i class=" tiny material-icons">fiber_manual_record</i>Usar la sentencia ““=”” para que siempre sea cierto y se tenga acceso a la información de la tabla, por ejemplo: SELECT * FROM Users WHERE Name ="" or ""="" AND Pass ="" or ""="".</div>
</div>
<div class="row">
    <div class="col s12">¿Qué técnicas puedes utilizar para evitar ataques de SQL Injection?</div>
    <div class="col s11 offset-s1"><i class=" tiny material-icons">fiber_manual_record</i>Existen muchas técnicas de protección, pero de las más comunes están:</div>
    <div class="col s11 offset-s2"><i class=" tiny material-icons">fiber_manual_record</i>La técnica más común es usar parámetros de SQL, es decir, utilizar el operador @ para evitar la inserción de código, como en el siguiente ejemplo: </div>
    <div class="col s11 offset-s3"><i class=" tiny material-icons">fiber_manual_record</i>txtUserId = getRequestString("UserId");</div>
    <div class="col s11 offset-s3"><i class=" tiny material-icons">fiber_manual_record</i>txtSQL = "SELECT * FROM Users WHERE UserId = @0";</div>
    <div class="col s11 offset-s3"><i class=" tiny material-icons">fiber_manual_record</i>db.Execute(txtSQL,txtUserId);</div>
    <div class="col s11 offset-s2"><i class=" tiny material-icons">fiber_manual_record</i>Eliminar los caracteres especiales para evitar ataques o acciones maliciosas, por ejemplo, utilizando la función mysql_real_scape_string(). </div>
    <div class="col s11 offset-s2"><i class=" tiny material-icons">fiber_manual_record</i>Delimitar los valores de consulta utilizando comillas sencillas para que reconozca la entrada como entero, como, por ejemplo: SELECT nombre FROM usuarios WHERE id_user = ‘$id’.</div>
</div>
