<br>
<div class="fixed-action-btn">
    <a href="../Controladores/formulario.php" class="btn-floating btn-large waves-effect waves-light gray">
         <i class="material-icons">add</i>
    </a>
</div>
