<h1>¡Bienvenido a las consultas de los zombis!</h1>
<br><br>
<h3>Consulta 1</h3>
<br>
<h5>Cantidad de zombis registrados</h5>
<?php echo getZRegistrados();?>
<br>
<h5>Cantidad de zombis en cada estado</h5>
<?php echo getZPorEstado();?>
<br>
<h5>Cantidad de zombis que no están muertos</h5>
<?php echo getZNMuertos();?>
<br><br>
<h3>Consulta 2</h3>
<br>
<h5>Registro de zombis del más reciente al más antiguo</h5>
<?php echo getZRegistroAntRec();?>
<br><br>
<h3>Consulta 3</h3>
<br>
<h5>Registros de zombis elegidos por el usuario y la cantidad de ellos</h5>
<h5>Escoge el número de alguno de lo siguientes estados:</h5>
<table>
  <tr>
    <td>Infección</td>
    <td>Coma</td>
    <td>Transformación</td>
    <td>Completamente_muerto</td>
  </tr>
  <tr>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
  </tr>
</table>
<h5> Estado actual: <input class="validate" type="number" id="ncal" name="ncal" value='<?=$valor;?>' min=1 max=4 required><a class="waves-effect waves-light btn" onclick="refresh()" id="actualiza">Cargar</a></h5>
<div id="zombis">
  <?php echo getZombiEstado($valor);?>
</div>
<br>
