<div class="row">
    <h1><?php if(isset($registro)): ?>Editar<?php else: ?>Agregar nuevo<?php endif;?> zombie</h1> <!--Obtener el valor correspondiente a si estamos editando o registrando-->
  <form class="col s12" action="../Controladores/guardar.php" method="POST">
    <?php if(isset($registro)): ?>
    <div class="row">
      <div class="input-field col s12">
        <input id="nombre_completo" name="nombre_completo" type="text" value='<?=$registro["nombre_completo"];?>' autofocus autocomplete="off" required>
        <label for="nombre_completo">Nombre Completo</label>
        <input id="clave" name="clave" type="hidden" value='<?=$registro["id"];?>'>
      </div>
    </div>
    <?php else: ?>
      <div class="row">
          <div class="input-field col s12">
            <input placeholder="Androsio Martínez" id="nombre_completo" name="nombre_completo" type="text" class="validate" required autofocus autocomplete="off">
            <label for="nombre_completo">Nombre Completo</label>
          </div>
      </div>
    <?php endif; ?>
    <div class="row">
      <div class="input-field col s12">
        <select id="estado_actual" name="estado_actual">
          <option value="0" disabled selected>Escoge el estado actual</option>
          <option value="1">Infección</option>
          <option value="2">Coma</option>
          <option value="3">Transformación</option>
          <option value="4">Completamente muerto</option>
        </select>
        <label>Estado actual</label>
      </div>
    </div>
    <script>
        function selectOption(index){
            //document.getElementById("sem").selectedIndex = "2";
            var sel = document.getElementById('estado_actual');
            var opts = sel.options;
            for (var opt, j = 0; opt = opts[j]; j++) {
                if (opt.value == index) {
                    sel.selectedIndex = j;
                    break;
                }
            }
        }
        let a = "<?php echo (isset($registro)) ? $registro["estado_actual"] : 0?>";
        let b;
        switch (a) {
          case "infeccion":
            b = 1;
          break;
          case "coma":
            b = 2;
          break;
          case "transformacion":
            b = 3;
          break;
          case "completamente_muerto":
            b = 4;
          break;
          default:
            b = 0;
          break;
        }
        selectOption(b);
    </script>
    <div class="row">
      <div class="input-field col s6">
        <input class="waves-effect waves-light btn" type="submit"
          value="<?php if(isset($registro)): ?>Guardar<?php else: ?>Registrar<?php endif;?>">
      </div>
        <div class="input-field col s6">
        <a class="waves-effect waves-light btn" href="../Controladores/consultas.php">Regresar</a>
      </div>
    </div>
  </form>
</div>
