.centrar{
    display: block;
    margin: auto;
}
body,h1,h2,h3,h4,h5,h6 {
    font-family: "Lato", sans-serif
}
.w3-bar,h1,button {
    font-family: "Montserrat", sans-serif
}
.fa-anchor,.fa-coffee {
    font-size:200px
}
#watermark {
    opacity: 0.5;
    color: BLACK;
    position: fixed;
    left: 20%;
}
#info{
    display: none;
    background-color: burlywood;
}
.aparece:hover + #info{
    display: block;
}
#reloj{
    position: fixed;
    left: 80%;
    bottom: 80%;
    background-color: aqua;
    padding: 10px;
}
#conteo{
    position: fixed;
    left: 50%;
    bottom: 80%;
    background-color: green;
    padding: 10px;
}
#div1{
    width: 450px;
    height: 425px;
    border: 1px solid;
    /*padding: 10px;*/
}
.ajusta{
    display: inline-block;
    width: 40%;
}