        </div>    
        <footer class="page-footer">
            <div class="container">
                <div class="row">
                  <div class="col l6 s12">
                    <h5 class="white-text">Referencias Investigación</h5>
                    <div class="row">
                        <div class="col s12"> <i class=" tiny material-icons">fiber_manual_record</i> PHP Net. (2017). <em>Explode.</em> Recuperado de http://php.net/manual/en/function.explode.php
                        </div>
                        <div class="col s12"> <i class=" tiny material-icons">fiber_manual_record</i> PHP Net. (2017). <em>Ctype_space.</em> Recuperado de http://php.net/manual/en/function.ctype-space.php
                        </div>
                        <div class="col s12"> <i class=" tiny material-icons">fiber_manual_record</i> PHP Net. (2017). <em>Apache_child_terminate.</em> Recuperado de http://php.net/manual/en/function.apache-child-terminate.php
                        </div>
                        <div class="col s12"> <i class=" tiny material-icons">fiber_manual_record</i> PHP Net. (2017).<em>Predefined Variables.</em> Recuperado de http://php.net/manual/en/reserved.variables.php
                        </div>
                      </div>
                  </div>
                  <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Recursos utilizados lab 11</h5>
                    <ul>
                      <li><a class="grey-text text-lighten-3" href="https://www.w3schools.com/html/html_form_input_types.asp">Link 1</a></li>
                      <li><a class="grey-text text-lighten-3" href="https://www.w3schools.com/html/tryit.asp?filename=tryhtml_input_number">Link 2</a></li>
                      <li><a class="grey-text text-lighten-3" href="http://php.net/manual/es/function.isset.php">Link 3</a></li>
                      <li><a class="grey-text text-lighten-3" href="http://materializecss.com/">Link 4</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://www.w3schools.com/jsref/jsref_getseconds.asp">Link 5</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://www.w3schools.com/php/func_string_strlen.asp">Link 6</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://www.w3schools.com/jsref/jsref_getseconds.asp">Link 7</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://www.w3schools.com/php/php_form_complete.asp">Link 8</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://www.w3schools.com/php/showphp.asp?filename=demo_form_validation_complete">Link 9</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://stackoverflow.com/questions/16778425/pass-variables-between-two-php-pages-without-using-a-form-or-the-url-of-page">Link 10</a></li>
                    </ul>
                  </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container center">
                    © 2017 Copyright Text
                </div>
          </div>
        </footer>
        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    </body>
</html>