nav{
    margin-top: 15px;
    margin-bottom: 15px;
}
nav div {
    display: inline-block;
    width: 24%;
}

nav div a{
    margin-left: 9em;
    text-decoration: none;
    padding: 2%;
    background-color: deepskyblue;
    border-radius: 7px;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
}
.center{
    text-align: center;
    font-family: sans-serif;
    font-size: 22px;
    background-color: antiquewhite;
}
.centrar{
    text-align: center;
    background-color: darkkhaki;
    padding: 50px;
}