 </div>    
        <footer class="page-footer">
            <div class="container">
                <div class="row">
                  <div class="col l6 s12">
                    <h5 class="white-text">Referencias Investigación</h5>
                    <div class="row">
                          <div class="col s12"> <i class=" tiny material-icons">fiber_manual_record</i>Muñoz, R. (2015). <em>Coss Domain y peticiones Ajax, ¿limitación o seguridad?</em> Recuperado de http://www.cantabriatic.com/cross-domain-y-peticiones-ajax-limitacion-o-seguridad/</div>
                        <div class="col s12"> <i class=" tiny material-icons">fiber_manual_record</i>W3Schools. (2017). <em>JSON – Introduction. </em>Recuperado de: https://www.w3schools.com/js/js_json_intro.asp</div>
                        <div class="col s12"> <i class=" tiny material-icons">fiber_manual_record</i>Domenig, M. (2015). <em>Rich Internet Applications and AJAX – Selecting the best product.</em> Recuperado de https://www.javalobby.org//articles/ajax-ria-overview/</div>
                        <div class="col s12"> <i class=" tiny material-icons">fiber_manual_record</i>W3Schools. (2017). <em>AJAX Introduction. </em>Recuperado de: https://www.w3schools.com/js/js_ajax_intro.asp</div>
                        </div>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Recursos utilizados lab 17</h5>
                        <ul>
                          <li><a class="grey-text text-lighten-3" href="http://php.net/manual/es/mysqli-result.fetch-assoc.php">Link 1</a></li>
                          <li><a class="grey-text text-lighten-3" href="http://php.net/manual/es/function.stripos.php">Link 2</a></li>
                            <li><a class="grey-text text-lighten-3" href="http://php.net/manual/es/mysqli-result.fetch-row.php">Link 3</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container center">
                    © 2017 Copyright Text
                </div>
          </div>
        </footer>
        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script> 
             $(document).ready(function() {
                $('select').material_select();
              });
        </script>
        <script type="text/javascript" src="js/ajax.js"></script>
    </body>
</html>