<h1 class="center">Investigación Lab 17</h1>
<div class="row">
    <div class="col s12">¿Qué importancia tiene AJAX en el desarrollo de RIA's (Rich Internet Applications)?</div>
    <div class="col s11 offset-s1"><i class=" tiny material-icons">fiber_manual_record</i>Bastante, ya que es lo que permite diferenciar a las aplicaciones web de las aplicaciones de escritorio. AJAX permite que la página se pueda actualizar sin necesidad de estarse recargando como las aplicaciones de escritorio, entonces es el principal componente de RIA.</div>
</div>
<div class="row">
    <div class="col s12">¿Qué implicaciones de seguridad tiene AJAX? ¿Dónde se deben hacer las validaciones de seguridad, del lado del cliente o del lado del servidor?</div>
    <div class="col s11 offset-s1"><i class=" tiny material-icons">fiber_manual_record</i>Las validaciones de seguridad deben hacerse en ambos lados, no es bueno mantenerlas sólo de un lado, porque se deja vulnerable el sistema. En cuanto a implicaciones de seguridad de AJAX existen, así como en cualquier cosa, pero no supone en riesgo mayor su uso, sino el normal. Existen formas de protegerte de este tipo violaciones a la seguridad, por ejemplo, usando CORS.</div>
</div>
<div class="row">
    <div class="col s12">¿Qué es JSON?</div>
    <div class="col s11 offset-s1"><i class=" tiny material-icons">fiber_manual_record</i>o	Sus siglas significan JavaScript Object Notation (Notación de objetos en JavaScript). Es texto, pero escrito con la sintaxis de JavaScript, dicho de otra forma, es una sintaxis para guardar e intercambiar información. Su ventaja principal consiste en que el flujo de información se da a través de texto plano, que puede ser convertido a un objeto de JavaScript y viceversa.</div>
</div>
