 </div>    
        <footer class="page-footer">
            <div class="container">
                <div class="row">
                  <div class="col l6 s12">
                    <h5 class="white-text">Referencias Investigación</h5>
                    <div class="row">
                          <div class="col s12"> <i class=" tiny material-icons">fiber_manual_record</i>Benítez, C. (2011). <em>Alternativas a jQuery. </em>Recuperado de http://www.etnassoft.com/2011/03/28/alternativas-a-jquery/</div>
                    </div>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Recursos utilizados lab 19</h5>
                        <ul>
                          <li><a class="grey-text text-lighten-3" href="https://www.w3schools.com/tags/att_global_hidden.asp">Link 1</a></li>
                          <li><a class="grey-text text-lighten-3" href="https://www.w3schools.com/jquery/event_click.asp">Link 2</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://www.w3schools.com/jquery/jquery_hide_show.asp">Link 3</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://www.w3schools.com/html/html_forms.asp">Link 4</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://es.stackoverflow.com/questions/24583/enviar-post-a-php-por-medio-de-ajax">Link 5</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://www.w3schools.com/jquery/ajax_ajax.asp">Link 6</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://stackoverflow.com/questions/503093/how-to-redirect-to-another-webpage">Link 7</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://stackoverflow.com/questions/3513971/page-redirect-with-successful-ajax-request">Link 8</a></li>
                            <li><a class="grey-text text-lighten-3" href="http://api.jquery.com/html/">Link 9</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://www.w3schools.com/tags/att_global_contenteditable.asp">Link 10</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://stackoverflow.com/questions/15657686/jquery-event-detect-changes-to-the-html-text-of-a-div">Link 11</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://stackoverflow.com/questions/1921342/how-do-i-get-a-value-of-a-span-using-jquery">Link 12</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://api.jquery.com/change/">Link 13</a></li>
                            <li><a class="grey-text text-lighten-3" href="http://php.net/manual/es/faq.html.php">Link 14</a></li>
                            <li><a class="grey-text text-lighten-3" href="http://api.jquery.com/Types/#Event">Link 15</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://www.jose-aguilar.com/blog/modificar-registros-en-linea-con-jquery-ajax-php/">Link 16</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://stackoverflow.com/questions/4784568/set-content-of-html-span-with-javascript">Link 17</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container center">
                    © 2017 Copyright Text
                </div>
          </div>
        </footer>
        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script> 
             $(document).ready(function() {
                $('select').material_select();
              });
        </script>
        <script type="text/javascript" src="js/ajax.js"></script>
    </body>
</html>