  <div class="row">
      <h1><?php if(isset($registro)): ?>Editar<?php else: ?>Agregar nueva<?php endif;?> materia</h1> <!--Obtener el valor correspondiente a si estamos editando o registrando-->
      <?php if(!isset($registro)): ?>
        <div class="center-align" id="m1">
          <h3 class="red">Segundo componente de jQuery, ¡Aparece el formulario! y...</h3>
          <a class="waves-effect waves-light btn" id="crea">Inicia</a>
        </div>
        <h3 class="center-align red" hidden id="m2">¡Método GET por jQuery!</h3>
      <?php endif; ?>
      <form class="col s12" method="POST" id="muestra" action="guardar.php" hidden>
            <?php if(isset($registro)): ?>
                <script languaje="javascript">
                    var a = document.getElementById('muestra');
                    a.removeAttribute('hidden');
                </script>
            <?php endif; ?>
        <?php if(isset($registro)): ?> 
        <div class="row">
            <div class="input-field col s12">
              <input id="muestraclave" name="muestraclave" type="text" value='<?=$registro["clave_materia"];?>' disabled autocomplete="off" autofocus>
              <label for="muestraclave">Clave Materia</label>
                <input id="clavem" name="clavem" type="hidden" value='<?=$registro["clave_materia"];?>'>
                <input id="si" name="si" type="hidden" value='1'>
            </div>
        </div>    
        <?php else: ?>
            <div class="row">
                <div class="input-field col s12">
                  <input placeholder="F-1005" id="clavem" name="clavem" type="text" class="validate" required autocomplete="off">
                  <label for="clavem">Clave Materia</label>
                    <input id="si" name="si" type="hidden" value='0'>
                </div>
            </div>
        <?php endif; ?>
        
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Laboratorio de Química" name="nombre" id="nombre" type="text" class="validate" required value='<?php if(isset($registro)) echo $registro["nombre_materia"] ?>' autocomplete="off">
          <label for="nombre">Nombre Materia</label>
        </div>
      </div>
      <div class="row">
          <div class="input-field col s12">
            <select name="sem" id="sem" onload='selectOption($registro["id_semestre"]);' autocomplete="off">
              <option value="0" disabled selected>Escoge el semestre</option> <!--Porque debo de usar un onload y luego aparte la llamada abajo? como funciona esto de usar javascript dentro de html-->
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>  
            </select>
            <label>Semestre</label>
              <!--<button onclick="selectOption()">Obten</button>-->
          </div>
      </div>
        <script>
            function selectOption(index){
                //document.getElementById("sem").selectedIndex = "2";
                var sel = document.getElementById('sem');
                var opts = sel.options;
                for (var opt, j = 0; opt = opts[j]; j++) {
                    if (opt.value == index) {
                        sel.selectedIndex = j;
                        break;
                    }
                }
                //document.getElementById("sem").options.selectedIndex = index;
                //document.getElementsByTagName('option')[index].selected;
            }
            selectOption(<?php echo (isset($registro)) ? $registro["id_semestre"] : 0?>);
        </script>
    <div class="row">
        <div class="input-field col s12">
          <input oninput="sendRequest()" placeholder="Juan José Carracedo Navarro" id="profesor" name="profesor" type="text" class="validate" required value='<?php if(isset($registro)) echo $registro["profesor"] ?>' autocomplete="off">
          <label for="profesor">Profesor</label>
            <div id="ajaxResponse"></div>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
          <input placeholder="88" id="calif" name="calif" type="number" min="1" max="100" class="validate" required value='<?php if(isset($registro)) echo $registro["calif_final"] ?>' autocomplete="off">
          <label for="calif">Calificación</label>
        </div>
    </div>
      <div class="row">
        <div class="input-field col s6">
          <input class="waves-effect waves-light btn" type="submit" 
            value="<?php if(isset($registro)): ?>Guardar<?php else: ?>Registrar<?php endif;?>" id="btn">
        </div>
          <div class="input-field col s6">
          <a class="waves-effect waves-light btn" href="consultas.php">Regresar</a>
        </div>
      </div>
    </form>
  </div>