<h1 class="center">Investigación Lab 19</h1>
<h2 class="center green"> Este laboratorio será usado como ejemplo para el laboratorio 21</h2>
<h3 class="center blue">Dirígete a la pestaña de consultas para poder checar el elemento que usa un SP</h3>
<ul class="browser-default">
    <li>Explica y elabora un diagrama sobre cómo funciona AJAX con jQuery.</li>
        <img src="imagenes/ajax_jquery.png" width="436" height="400" alt="Not found" style="display:block;margin: auto;"> 
    <li>¿Qué alternativas a jQuery existen?
        <ul class="browser-default">
            <li>Debido a que jQuery pesa más de 85Kbs y normalmente requerimos algo muy sencillo y al usar jQuery ralentizamos el sistema, se deben buscar alternativas.</li>
            <li>La primera y la mejor de todas es usar JavaScript plano, ya que te permite hacer cosas sencillas sin ocupar tantos recursos del sistema. </li>
            <li>Por otro lado, están las librerías minimalistas como Zeptoo XUI que pesan menos de 5Kbs y contienen las funciones más utilizadas de JQuery. </li>
            <li>O, por último, está la opción de usar librerías selectoras como Sizzle o Qwery, las cuales no tienen dependencias y llegan a pesar hasta 1Kbs.</li>
        </ul>
    </li>
</ul>