nav{
    margin-top: 15px;
    margin-bottom: 15px;
}
nav div {
    display: inline-block;
    width: 24%;
}

nav div a{
    margin-left: 9em;
    text-decoration: none;
    padding: 2%;
    background-color: deepskyblue;
    border-radius: 7px;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
}
.center{
    text-align: center;
    font-family: sans-serif;
    font-size: 22px;
    background-color: antiquewhite;
}
.centrar{
    text-align: center;
    background-color: darkkhaki;
    padding: 50px;
}
.cent{
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
}
#right{
    text-align: right;
}
.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 22px;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}