        </div>    
        <footer class="page-footer">
            <div class="container">
                <div class="row">
                  <div class="col l6 s12">
                    <h5 class="white-text">Referencias Investigación</h5>
                    <div class="row">
                        <div class="col s12"> <i class=" tiny material-icons">fiber_manual_record</i> Lou, G. (2017). <em>CSRF: The A-Z.</em> Recuperado de: https://medium.com/@GemmaLou/csrf-the-a-z-2b85d26438b
                        </div>
                      </div>
                  </div>
                  <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Recursos utilizados lab 13</h5>
                    <ul>
                      <li><a class="grey-text text-lighten-3" href="http://www.forosdelweb.com/f18/problema-con-ruta-archivos-include-require-1092987/">Link 1</a></li>
                      <li><a class="grey-text text-lighten-3" href="http://www.forosdelweb.com/f18/multiples-sesiones-con-php-855614/">Link 2</a></li>
                      <li><a class="grey-text text-lighten-3" href="https://www.w3schools.com/php/php_sessions.asp">Link 3</a></li>
                      <li><a class="grey-text text-lighten-3" href="http://php.net/manual/en/intro.session.php">Link 4</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://www.w3schools.com/php/php_file_upload.asp">Link 5</a></li>
                        <li><a class="grey-text text-lighten-3" href="http://php.net/manual/en/features.file-upload.php">Link 6</a></li>
                        <li><a class="grey-text text-lighten-3" href="http://materializecss.com/">Link 7</a></li>
                    </ul>
                  </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container center">
                    © 2017 Copyright Text
                </div>
          </div>
        </footer>
        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    </body>
</html>