    <h1 class="center">Subir imagen para CV</h1>
    <h3>Formulario para subir una imagen a tu CV</h3>
    <h5>Ingresa tus datos para rastrear tu CV y sube la imagen que te gustaría añadirle</h5>
    <br>
    <div class="row">
        <form action="respuestas.php" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="input-field col s6 offset-s2">
                    <i class="material-icons prefix">account_circle</i>
                    <input placeholder="Juan Canales Oliveros" name="nombre" id="nombre" type="text" class="validate" required>
                    <label for="nombre">Nombre<span class="rojo"> *<?php if(isset($_SESSION["Nam"])):?><?=$_SESSION["Nam"]; unset($_SESSION["Nam"]);?><?php endif;?></span></label> 
                </div>
            </div>
            <div class="row">
                <div class="input-field col s3 offset-s2">
                    <i class="material-icons prefix">cake</i>
                    <input placeholder="30" name="edad" id="edad" type="number" min="10" max="99" class="validate" required>
                    <label for="edad" data-error="Incorrect" data-success="Correct">Edad<span class="rojo"> *</span></label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s3 offset-s2">
                    <i class="material-icons prefix">fitness_center</i>
                    <input placeholder="77" name="peso" id="peso" type="number" min="35" max="150" class="validate" required>
                    <label for="peso" data-error="Incorrect" data-success="Correct">Peso<span class="rojo"> *</span></label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s3 offset-s2">
                    <i class="material-icons prefix">accessibility</i>
                    <input placeholder="180" name="altura" id="altura" type="number" min="100" max="230" class="validate" required>
                    <label for="altura" data-error="Incorrect" data-success="Correct">Altura<span class="rojo"> *</span></label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s3 offset-s2"> 
                    <i class="material-icons prefix">call</i>
                    <input placeholder="+524871596857" name="celular" id="celular" type="tel" class="validate" required>
                    <label for="celular">Celular<span class="rojo"> *<?php if(isset($_SESSION["Cel"])):?><?=$_SESSION["Cel"]; unset($_SESSION["Cel"]);?><?php endif;?></span></label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s5 offset-s2">
                    <i class="material-icons prefix">email</i>
                    <input placeholder="insertacorreo@gmail.com" name="email" id="email" type="email" class="validate" required>
                    <label for="email" data-error="Incorrect" data-success="Correct">Email<span class="rojo"> *</span></label>
                </div>
            </div>
            <div class="row">
                <div class="file-field input-field col s5 offset-s2">
                  <div class="btn">
                    <span>Subir imagen para CV</span>
                    <input type="file" name="foto" id="foto">
                  </div>
                  <div class="file-path-wrapper">
                    <i class="material-icons prefix">attachment</i>
                    <input class="file-path validate" type="text"  required>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s3 offset-s3">
                      <input type="submit" value="Enviar" class="waves-effect waves-light btn">
                </div>
            </div>
        </form>
    </div>