<h1 class="center">Investigación Lab 13</h1>
<div class="row">
    <div class="col s12">¿Por qué es importante hacer un session_unset() y luego un session_destroy()?</div>
    <div class="col s11 offset-s1"><i class=" tiny material-icons">fiber_manual_record</i>Para no saturar al servidor y sólo ocupar espacio cuando sea necesario.</div>
</div>
<div class="row">
    <div class="col s12">¿Cuál es la diferencia entre una variable de sesión y una cookie?</div>
    <div class="col s11 offset-s1"><i class=" tiny material-icons">fiber_manual_record</i>Una variable de sesión es una variable que almacena la información cuando sucede determinada actividad. Mientras que una cookie guarda información cuando cargas una página y se queda de manera permanente cada vez que accedes a la misma página. </div>
</div>
<div class="row">
    <div class="col s12">¿Qué técnicas se utilizan en sitios como facebook para que el usuario no sobreescriba sus fotos en el sistema de archivos cuando sube una foto con el mismo nombre?</div>
    <div class="col s11 offset-s1"><i class=" tiny material-icons">fiber_manual_record</i>Le agregan un timestamp o un ID aleatorio único al nombre, para diferenciar archivos con nombres iguales subidos durante el tiempo.</div>
</div>
<div class="row">
    <div class="col s12">¿Qué es CSRF y cómo puede prevenirse?</div>
    <div class="col s11 offset-s1"><i class=" tiny material-icons">fiber_manual_record</i>Se le conoce como Cross-Site Request Forgery, sucede cuando un sitio permite que un usuario autenticado ejecute una acción, pero no verificando que el usuario fue quien ejecutó esta acción. Es decir, en el momento en que un usuario ingresa con sus datos a un sitio, se ejecuta un código que fue subido por otro usuario autenticado. Esto sucede porque los sitios no verifican que las solicitudes vengan de un usuario autenticado, sino que vengan de un navegador de un usuario autenticado. Para prevenir esto es necesario que siempre se use el método POST al enviar un formulario y que se utilice valor pseudo aleatorio como cookie cuando un usuario visite un sitio y que sea enviado cada vez que una forma sea enviada el servidor compara el valor pseudo aleatorio de la cookie con el que fue enviado del formulario. </div>
</div>