 </div>    
        <footer class="page-footer">
            <div class="container">
                <div class="row">
                  <div class="col l6 s12">
                    <h5 class="white-text">Referencias Investigación</h5>
                    <div class="row">
                          <div class="col s12"> <i class=" tiny material-icons">fiber_manual_record</i>Hostalía. (2017). <em>Ataques de inyección SQL: qué son y cómo protegerse.</em> Recuperado de: https://pressroom.hostalia.com/white-papers/ataques-inyeccion-sql</div>
                        <div class="col s12"> <i class=" tiny material-icons">fiber_manual_record</i>W3Schools. (2017). <em>SQL Injection. </em>Recuperado de: https://www.w3schools.com/sql/sql_injection.asp </div>
                        </div>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Recursos utilizados lab 16</h5>
                        <ul>
                          <li><a class="grey-text text-lighten-3" href="https://stackoverflow.com/questions/45304257/materialize-css-select-get-selected-value-when-close">Link 1</a></li>
                          <li><a class="grey-text text-lighten-3" href="https://www.w3schools.com/TagS/att_input_type.asp">Link 2</a></li>
                          <li><a class="grey-text text-lighten-3" href="https://www.w3schools.com/php/php_mysql_insert.asp">Link 3</a></li>
                          <li><a class="grey-text text-lighten-3" href="https://es.wikipedia.org/wiki/Expresi%C3%B3n_regular">Link 4</a></li>
                            <li><a class="grey-text text-lighten-3" href="http://php.net/manual/es/control-structures.alternative-syntax.php">Link 5</a></li>
                            <li><a class="grey-text text-lighten-3" href="http://www.forosdelweb.com/f18/valor-select-dependiendo-variable-php-678144/">Link 6</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://mx.answers.yahoo.com/question/index?qid=20120529201706AAIbMDz">Link 7</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://www.w3schools.com/tags/att_input_disabled.asp">Link 8</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container center">
                    © 2017 Copyright Text
                </div>
          </div>
        </footer>
        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script> 
             $(document).ready(function() {
                $('select').material_select();
              });
        </script>
    </body>
</html>